@charset "utf-8";

@import "compass";
@import "mixin.scss";
@import "common.scss";

@import "nav.scss";
// @import "mixitup.scss";

.each_move_title {
  font-family:'migmix1p',"Myriad Pro", "Trebuchet MS", sans-serif;
	@include font-size(30);
	color:#FFF;
  border-left: 1px solid #F00;
  padding: 10px 10px;
}

/**************************************
            mixitup
**************************************/
#gallery_contents {
  width: 80%;
  margin: 0 auto;
  .controls {
  	text-align: center;
  	margin: 50px 0;
    display: flex;
    justify-content: center;
  	button {
  		background: none;
  		border: 1px solid #FFF;
	    padding: 10px 30px;
	    margin: 0 10px;
	    @include transition(.3s);
	    &:hover {
				background: #FFF;
				color: #000;
	    }
  	}
  }
	.container {
		/* 2 Columns */
		.mix,
		.gap {
		    width: calc(100%/2 - (((2 - 1) * 3rem) / 2));
		}
		.mix,
		.gap {
		    display: inline-block;
		    vertical-align: top;
		}

		.mix {
		    border-radius: 2px;
		    margin-bottom: 3rem;
		    position: relative;
		    // background:#FFF;
		}

		// .mix:before {
		//     content: '';
		//     display: inline-block;
		//     padding-top: 56.25%;
		// }
	}
}
/* Container
---------------------------------------------------------------------- */

.container {
    padding: 3rem;
    padding-top: 0;
    text-align: justify;
    font-size: 0.1px;
    color: #000;
}

.container:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/**************************************
            mixitup
**************************************/
/**************************************
            modal
**************************************/
.each_move {
  // position: absolute;
  // top: 0;
  width: 100%;
	.popup-modal {
    position: relative;
    line-height: 0;
    .click_mask {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.6);
      @include transition(.3s);
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color:#FFF;
      font-family:'5x5dots','migmix1p',"Myriad Pro", "Trebuchet MS", sans-serif;
      line-height: 2;
      font-weight: bold;
      .click_text {
        @include font-size(20);
      }
      .mask_move_title {
        font-family:'migmix1p',"Myriad Pro", "Trebuchet MS", sans-serif;
        @include font-size(28);
        line-height: 1.4;
        border-bottom: 1px solid #fff;
        padding: 0 20px;
      }
    }
    &:hover .click_mask {
      opacity: 1;
    }
  }
  img {
    width:100%;
  }
}
//-----modal本体-----
.mm_box {
  text-align:center;
  width: 70%;
  margin: 0 auto;
  position: relative;
}
.mm_title {
  font-family:'5x5dots','migmix1p',"Myriad Pro", "Trebuchet MS", sans-serif;
  color: #FFF;
  z-index: 1000;
  position: relative;
  @include font-size(40);
}
.mm_area {
  position:relative;
  width:100%;
  padding-top:56.25%;
    iframe {
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
  }
}
.mm_sub_text {
  color:#FFF;
  margin: 10px 0;
}
.popup-modal-dismiss a{
  border: 1px solid #FFF;
  padding: 10px 20px;
  color: #FFF;
    display: inline-block;
    text-decoration: none;
    &:hover {
      background: #FFF;
      color: #000;
    }
}
/**************************************
            modal
**************************************/